@import url(https://fonts.googleapis.com/css?family=Montserrat:300&subset=latin-ext);
body {
    background-color: #ECECEB;
    overflow-x: none;
    font-family: Montserrat;
    text-align: center;
}


/*Start navbar*/

nav > .navbar.navbar-expand-lg.navbar-light.bg-light {
    font-size: 24px;
}


.bg-light {
    background-color: #619201!important;
}

.btn-w {
    background-color: white;
}

nav#navbarResponsive.navbar.navbar-expand-lg>img {
    width: 60px;
    height: 60px;
    border-color: #619201;
}

#teste {
    color: white !important;
}


/*End navbar*/