<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./navbar.css">
    <title>Agro Bom Negócio - ABC</title>
</head>

<header>
    <nav class="navbar navbar-expand-lg" id="navbarResponsive">

        <div class="dropdown">
            <button class="btn btn-green fa fa-bars btn-lg dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button">Sair</button>
                <button class="dropdown-item" type="button">Acessar o crud</button>
            </div>
        </div>

        <img src="./assets/img/logo.png" alt="logo" class="mx-1 my-0" />
        </a>

        <form class="mx-5 my-auto d-inline w-100" id="navbarResponsive">
            <div class="input-group">
                <input type="text" list="historico" class="form-control border border-right-0" placeholder="Digite sua busca:" />
                <span class="input-group-append">
                       <button class="btn border border-left-0" type="button">
                           <i class="fa fa-search"></i>
                       </button>
                   </span>
            </div>
        </form>
        <button type="button" class="btn btn-link"><a href="register.html" class="text-light">Ainda não possui <br> cadastro?</a></button>
        <button type="button" class="btn btn-light btn-lg"><a href="sign-in.html" class="text-dark"> Entrar</a></button>
    </nav>
</header>

</html>