 @import url(https://fonts.googleapis.com/css?family=Montserrat:300&subset=latin-ext);
 body {
     background-color: #ECECEB;
     overflow-x: none;
     font-family: Montserrat;
 }
 /*Start navbar*/
 
 nav#navbarResponsive.navbar.navbar-expand-lg {
     border-bottom: rgb(97, 146, 1) 5px solid;
     background-color: #619201;
 }
 
 nav#navbarResponsive.navbar.navbar-expand-lg>div.dropdown>button#dropdownMenu2 {
     font-size: 24px;
 }
 
 .btn-green {
     background-color: #619201;
     color: white;
 }
 
 nav#navbarResponsive.navbar.navbar-expand-lg>img {
     width: 60px;
     height: 60px;
     border-color: #619201;
 }
 /*End navbar*/
 
 .category {
     margin-left: 150px;
     font-weight: bold;
 }
 
 .carousel-control-next-icon,
 .carousel-control-prev-icon {
     filter: invert(1);
 }
 
 .btn-link {
     color: #FFF;
 }
 
